/**********************************************************************tree*******************************************/
html,body{
    width:100%;
    overflow-x: hidden;
}
.seach-tj{
    padding-left:20px;
}
.layoutcontainer{
    padding:0 15px;
    padding-bottom: 15px;
}
.layTop{
    padding-top:20px;
    padding-bottom: 10px;
}
#showView{
    overflow-y: auto;
    max-height:600px;
    margin-right:-20px;
    margin-left: -12px;
    padding-bottom:10px;
}
#showView .mCSB_container{
    margin-right:8px;
}
#input-search{
    width:90%;
}
#search-output{
    width:95%;
    margin:10px 0;
    display: none;
    max-height:200px;
    overflow:auto;
    font-size:14px;
}
#outputArea p{
    cursor:pointer;
}
#outputArea p:hover,#outputArea p:active{
    color:#4285F4;
}
#outputArea p.activeShow{
    color:#4285F4;
}
.searchSetBtn{
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.card-gao{
    margin-top: 20px;
}
#searchInput{
    height:500px;
    overflow: auto;
    margin-right:-20px;
    margin-left: -12px;
    padding-bottom:10px;
}
#searchInput .mCSB_container{
    margin-right:8px;
}
.table-see{
    margin-top:15px;
}
#searchIfs .modal-footer{
    margin-top:24px;
}
#searchIfs .modal-footer .options{
    position: relative;
    top:30px;
}
.jh-control{
    padding-top:10px;
}
