/*
    html body css
*/
html,body{height:100%;}
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
.mCSB_horizontal>.mCSB_container{margin-bottom:10px;}
/*
    go-back css
*/
.go-back{
    position:fixed;
    right:30px;
    bottom:30px;
    z-index: 1000;
    display: none;
}
/*
    tool tip
*/
.toolbar-primary{
    background-color:#fff;
}
.toolbar-primary.tool-right .arrow {
    border-color: transparent #fff transparent transparent;
}
.tool-item{
    width: 160px;
    height: 60px;
    line-height: 40px;
    top: 13px;
    left: -36px;
     z-index: 1000;
    color: #000;
    font-size: 14px;
}
/*
    header css
*/
.more-nav::after{
    border:none;
}
.navbar-brand{
    width:310px;
    padding-left:30px;
}
.navbar-brand,.navbar-nav.mr-auto>li>a{
    line-height: 48px;
}
.paddingRt-navbar{
    padding-right: 30px;
}
.more-img{
    width:24px;
    margin-left: 20px;
}
.btn-container{
    position: fixed;
    top:88px;
    left:0;
    right:0;
}
.btn-container-items>.btn{
    position: relative;
    font-size:16px;
    z-index:100;
}
.btn-container-items>.btn>i{
    position: absolute;
    top:6px;
    right:4px;
    z-index:101;
}
.btn-container-items>.btn>i:hover,.btn-container-items>.btn>i:active{
    color:#007888;
}
.btn-none{
    display: none !important;
}
.paddingRt-edit{
    padding-right:50px;
}
.editIcon{
    left:-40px;
    width:120px;
}
.btn-container-overflow{
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
}
.btn-container-items{
    overflow: hidden;
    height:64px;
    white-space:nowrap;
}
.btn-container-items>.btn{
    padding:.85rem 2rem;
}
.btn-container-items>.btn.action{
    background-color: #282f3f !important;
}
.btn-container-items .btn-cyan.active, .btn-cyan:active, .btn-cyan:focus {
    background-color: #00d3ee !important;
}
/*
    section css
*/
#content-box{
    padding-top:152px;
    padding-left: 0;
    padding-right: 0;
}
#content-box>.tab-item{
    display: none;
}

/*
    history page
*/
#gooey-v{
    position:absolute !important;
    left:80px;
    top:80%;
}
.history-page [type=checkbox] + label:before{
    border: 1.5px solid transparent;
}
.history-page .gooeySVG{
    display: none;
}
/*
    defined tab
*/
#defined-sel{
    overflow-y:auto;
    overflow-x: hidden;
    padding-bottom:30px;
    padding-right: .5rem !important;
}
/*
    定制按钮
*/
.defineBtn{
    margin-bottom: 6px;
}
.defineTab{
    margin-top:18px;
}
#defineTab-pill{
    padding-bottom:30px;
}
#defineTab-pill .form-group{
    min-width: 130px;
}
.defineBtn .btn.activeB{
    font-weight: bold;
    letter-spacing: 4px;
    color:#666 !important;
}
